<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: lightpink;
  color: black;
}
}
</style>



<!DOCTYPE html>
<html>
  <head>
    <title>Homework</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="background-color:lightpink; width: 60%; display:table; margin:0 auto;">
    <div class="topnav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    </div>
    <h1 style="color:black; text-align:center">This is my first Ruby/HTML page,</h1>
    <h2 style="color:black; text-align:center">for The Complete Ruby on Rails Developer Course</h2>
    <p></p>
    <p style="font-size: 18px; text-align:center">The course is availabile at Udemy.com</p>

    <a style="color:black; "href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course" target="_blank">
    <img src="https://udemy-images.udemy.com/course/480x270/519442_63fe_2.jpg" alt="HTML tutorial" style="width:480px;height:270px; border:0; display: block; margin-left: auto; margin-right: auto;">
    </a>
    <p><b><center>This course contains:</center></b></p>
    <ul style="list-style-type: square; display:table; margin:0 auto;">
      <li>40 hours on-demand video</li>
      <li>153 articles</li>
      <li>1 downloadable resource</li>
      <li>8 coding exercises</li>
      <li>Full lifetime access</li>
      <li>Access on mobile and TV</li>
      <li>Certificate of Completion</li>
    </ul>
  </body>
</<!DOCTYPE html>
</html>
